In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
df =  pd.read_csv("C:/Users/madhu/Downloads/FinMan/Train.csv")
desc = pd.read_csv('C:/Users/madhu/Downloads/FinMan/Train_data_dictionary.csv')
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

### Basic Understanding of the Data

In [11]:
desc

                   Variable                                         Definition
0                        ID                        Unique Identifier for a row
1                 City_Code                 Code for the City of the customers
2               Region_Code               Code for the Region of the customers
3         Accomodation_Type                   Customer Owns or Rents the house
4       Reco_Insurance_Type  Joint or Individual type for the recommended i...
5                 Upper_Age                       Maximum age of the customer
6                Lower _Age                        Minimum age of the customer
7                 Is_Spouse         If the customers are married to each other
8                       NaN                      (in case of joint insurance)
9          Health_Indicator          Encoded values for health of the customer
10  Holding_Policy_Duration  Duration (in years) of holding policy (a polic...
11      Holding_Policy_Type                             Type of holding policy
12          Reco_Policy_Cat     Encoded value for recommended health insurance
13      Reco_Policy_Premium  Annual Premium (INR) for the recommended healt...
14        Response (Target)  0 : Customer did not show interest in the reco...
15                      NaN  1 : Customer showed interest in the recommende...

In [12]:
df.head(15)

,ID,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response
0,1,C3,3213,Rented,Individual,36,36,No,X1,14+,3.0,22,11628.0,0
1,2,C5,1117,Owned,Joint,75,22,No,X2,NaN,NaN,22,30510.0,0
2,3,C5,3732,Owned,Individual,32,32,No,NaN,1.0,1.0,19,7450.0,1
3,4,C24,4378,Owned,Joint,52,48,No,X1,14+,3.0,19,17780.0,0
4,5,C8,2190,Rented,Individual,44,44,No,X2,3.0,1.0,16,10404.0,0
5,6,C9,1785,Rented,Individual,52,52,No,X2,5.0,1.0,22,15264.0,1
6,7,C3,679,Owned,Individual,28,28,No,NaN,NaN,NaN,17,10640.0,0
7,8,C1,3175,Owned,Joint,75,73,Yes,X4,9.0,4.0,17,29344.0,1
8,9,C15,3497,Owned,Joint,52,43,No,X1,14.0,3.0,1,27283.2,0
9,10,C1,530,Owned,Joint,59,26,Yes,NaN,7.0,4.0,18,21100.8,1
10,11,C28,600,Owned,Individual,21,21,No,X2,NaN,NaN,21,4068.0,1
11,12,C27,1097,Owned,Joint,59,47,Yes,X3,3.0,3.0,13,25043.2,0
12,13,C7,3453,Owned,Individual,66,66,No,NaN,1.0,2.0,20,17192.0,1
13,14,C5,900,Rented,Individual,20,20,No,X2,NaN,NaN,18,8364.0,0
14,15,C20,1911,Rented,Individual,27,27,No,X3,2.0,3.0,9,9440.0,0

In [13]:
df.isnull().sum()

ID                             0
City_Code                      0
Region_Code                    0
Accomodation_Type              0
Reco_Insurance_Type            0
Upper_Age                      0
Lower_Age                      0
Is_Spouse                      0
Health Indicator           11691
Holding_Policy_Duration    20251
Holding_Policy_Type        20251
Reco_Policy_Cat                0
Reco_Policy_Premium            0
Response                       0
dtype: int64

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50882 entries, 0 to 50881
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       50882 non-null  int64
 1   City_Code                50882 non-null  object
 2   Region_Code              50882 non-null  int64
 3   Accomodation_Type        50882 non-null  object
 4   Reco_Insurance_Type      50882 non-null  object
 5   Upper_Age                50882 non-null  int64
 6   Lower_Age                50882 non-null  int64
 7   Is_Spouse                50882 non-null  object
 8   Health Indicator         39191 non-null  object
 9   Holding_Policy_Duration  30631 non-null  object
 10  Holding_Policy_Type      30631 non-null  float64
 11  Reco_Policy_Cat          50882 non-null  int64
 12  Reco_Policy_Premium      50882 non-null  float64
 13  Response                 50882 non-null  int64
dtypes: float64(2), int64(6), object(6)
memory usage: 5.4+ MB

In [15]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
ID,50882.0,25441.500000,14688.512535,1.0,12721.25,25441.5,38161.75,50882.0
Region_Code,50882.0,1732.788707,1424.081652,1.0,523.00,1391.0,2667.00,6194.0
Upper_Age,50882.0,44.856275,17.310271,18.0,28.00,44.0,59.00,75.0
Lower_Age,50882.0,42.738866,17.319375,16.0,27.00,40.0,57.00,75.0
Holding_Policy_Type,30631.0,2.439228,1.025923,1.0,1.00,3.0,3.00,4.0
Reco_Policy_Cat,50882.0,15.115188,6.340663,1.0,12.00,17.0,20.00,22.0
Reco_Policy_Premium,50882.0,14183.950069,6590.074873,2280.0,9248.00,13178.0,18096.00,43350.4
Response,50882.0,0.239947,0.427055,0.0,0.00,0.0,0.00,1.0

In [16]:
categorical_cols = df.select_dtypes(include=['object']).columns
numerical_cols = df.select_dtypes(include=['int64', 'float64']).columns

df = pd.get_dummies(df, columns=categorical_cols, drop_first=True)

scaler = StandardScaler()
df[numerical_cols] = scaler.fit_transform(df[numerical_cols])

target_column = 'Response'

X = df.drop(target_column, axis=1)
y = df[target_column]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

summary = {
    'categorical_columns': categorical_cols.tolist(),
    'numerical_columns': numerical_cols.tolist(),
    'X_train_shape': X_train.shape,
    'X_test_shape': X_test.shape,
    'y_train_shape': y_train.shape,
    'y_test_shape': y_test.shape,
}

summary

{'categorical_columns': ['City_Code',
  'Accomodation_Type',
  'Reco_Insurance_Type',
  'Is_Spouse',
  'Health Indicator',
  'Holding_Policy_Duration'],
 'numerical_columns': ['ID',
  'Region_Code',
  'Upper_Age',
  'Lower_Age',
  'Holding_Policy_Type',
  'Reco_Policy_Cat',
  'Reco_Policy_Premium',
  'Response'],
 'X_train_shape': (40705, 67),
 'X_test_shape': (10177, 67),
 'y_train_shape': (40705,),
 'y_test_shape': (10177,)}

In [17]:
df.head()

,ID,Region_Code,Upper_Age,Lower_Age,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response,City_Code_C10,City_Code_C11,...,Holding_Policy_Duration_14+,Holding_Policy_Duration_14.0,Holding_Policy_Duration_2.0,Holding_Policy_Duration_3.0,Holding_Policy_Duration_4.0,Holding_Policy_Duration_5.0,Holding_Policy_Duration_6.0,Holding_Policy_Duration_7.0,Holding_Policy_Duration_8.0,Holding_Policy_Duration_9.0
0,-1.732017,1.039425,-0.511625,-0.389098,0.546611,1.085830,-0.387852,-0.56187,0,0,...,1,0,0,0,0,0,0,0,0,0
1,-1.731949,-0.432415,1.741395,-1.197449,NaN,1.085830,2.477394,-0.56187,0,0,...,0,0,0,0,0,0,0,0,0,0
2,-1.731881,1.403874,-0.742704,-0.620055,-1.402885,0.612688,-1.021842,1.77977,0,0,...,0,0,0,0,0,0,0,0,0,0
3,-1.731813,1.857504,0.412691,0.303775,0.546611,0.612688,0.545682,-0.56187,0,0,...,1,0,0,0,0,0,0,0,0,0
4,-1.731744,0.321060,-0.049467,0.072817,-1.402885,0.139547,-0.573588,-0.56187,0,0,...,0,0,0,1,0,0,0,0,0,0